<link rel="stylesheet" href="../style/CyberpunkButtons.css">
<button class="cybr-btn">
    Cyber<span aria-hidden>_</span>
    <span aria-hidden class="cybr-btn__glitch">Cyber_</span>
    <span aria-hidden class="cybr-btn__tag">R25</span>
</button>
<button class="cybr-btn">
    Buttons<span aria-hidden>_</span>
    <span aria-hidden class="cybr-btn__glitch">Buttons_</span>
    <span aria-hidden class="cybr-btn__tag">R25</span>
</button>
<script type="text/javascript">
    console.log("%c author %c https://codepen.io/jh3y ", "color: #fff; margin: 1em 0; padding: 5px 0; background: #3498db;", "margin: 1em 0; padding: 5px 0; background: #efefef;")
</script>