<link rel="stylesheet" href="../style/CyberpunkStyle.css">
<section class="error-body">
	<video preload="auto" class="background" src="../video/err.mp4" autoplay muted loop></video>
	<div class="message">
		<h1 t="404">404</h1>
		<div class="bottom">
			<p>You have lost your way</p>
			<a href="#">return home</a>
		</div>
	</div>
</section>
<script type="text/javascript">
    console.log("%c author %c https://codepen.io/ltrademark ", "color: #fff; margin: 1em 0; padding: 5px 0; background: #3498db;", "margin: 1em 0; padding: 5px 0; background: #efefef;")
</script>