<html>
<head>
    <style type="text/css">
        canvas{
            width:640px;
            height:480px;
            display:block;
            margin:50px auto;
        }
    </style>
    <title>webgl_demo1</title>
</head>
<body onload="main()">
    <canvas id="glcanvas">
        Your browser doesn't appear to support the HTML5 <code>&lt;canvas&gt;</code> element.
    </canvas>
    
    <script>
        main();

        function main() {
            const canvas = document.getElementById("glcanvas");
            //初始化gl对象
            const gl = canvas.getContext("webgl");
            //仅在WebGL可用且正常工作时才继续
            if (!gl) {
                alert("Unable to initialize WebGL.Your browser or machine may not support it.");
                return;
            }
            //将清除颜色设置为黑色，完全不透明
            gl.clearColor(0.0, 0.0, 0.0, 1.0);
            //用指定的清除颜色清除颜色缓冲区
            gl.clear(gl.COLOR_BUFFER_BIT);
        }
    </script>
    <script>
        console.log("%c webgl %c https://developer.mozilla.org/zh-CN/docs/Web/API/WebGL_API/Tutorial/Getting_started_with_WebGL ", "color: #fff; margin: 1em 0; padding: 5px 0; background: #3498db;", "margin: 1em 0; padding: 5px 0; background: #efefef;")
    </script>
</body>
</html>